PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=fincredit_db
DB_USER=postgres
DB_PASS=votre_mot_de_passe

JWT_SECRET=fincredit_super_secret_key_32chars_minimum_2025
JWT_EXPIRES_IN=24h

FRONTEND_URL=http://localhost:4200
